<ion-header>
  <ion-navbar>
    <ion-title>
      Let It Bee
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Choose your Bee</h1>
  <ion-card *ngFor="let bee of beeProvider.getBees()" (click)="selectBee(bee)">
    <img [src]="bee.beePicture"/>
    <ion-card-content>
      <ion-card-title>
        {{bee.name}}
      </ion-card-title>
      <p>
        <b *ngFor="let c of bee.characteristics">{{c.name}} </b>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
